<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Home Loan Approval Prediction</title>
    
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

</head>

<body>

    <nav class="main-nav"> 
        <ul> <h1 class="main-logo">Home Loan Approval Predictor App</h1>
        </ul>
    </nav>
          
    <hr class="star-dark mb-5" />
        <h3> Please input the following information, to predict your chance of securing a home loan.  
        </h3>
        
        <form action="{{ url_for('predict')}}" method="post">

            <label for="Gender">Select Gender:</label><br>
            <select name="Gender" id="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br><br>

            <label for="Married">Are you married:</label><br>
            <select name="Married" id="Married">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select><br><br>

            <label for="Dependents">What are the number of dependents:</label><br>
            <select name="Dependents" id="Dependents">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3+">3+</option>
            </select><br><br>

            <label for="Education">What is your level of education:</label><br>
            <select name="Education" id="Education">
                <option value="Graduate">Graduate</option>
                <option value="Not Graduate">Not Graduate</option>
            </select><br><br>

            <label for="Self_Employed">Are you self-employed:</label><br>
            <select name="Self_Employed" id="Self_Employed">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br><br>

            <label for="ApplicantIncome">What is the applicant income:</label><br>
            <input name="ApplicantIncome" type="text" id="ApplicantIncome" class="form-control-sm"><br><br>
            
            <label for="CoapplicantIncome">What is the co-applicant income:</label><br>
            <input name="CoapplicantIncome" type="float" id="CoapplicantIncome" class="form-control-sm"><br><br>

            <label for="LoanAmount">What is the loan amount:</label><br>
            <input name="LoanAmount" type="text" id="LoanAmount" class="form-control-sm"><br><br>

            <label for="Loan_Amount_Term">What is the loan term:</label><br>
            <select name="Loan_Amount_Term" id="Loan_Amount_Term">
                <option value="12">1 year</option>
                <option value="36">3 years</option>
                <option value="60">5 years</option>
                <option value="84">7 years</option>
                <option value="120">10 years</option>
                <option value="180">15 years</option>
                <option value="240">20 years</option>
                <option value="300">25 years</option>
                <option value="360">30 years</option>
                <option value="480">40 years</option>
            </select><br><br>
            
            <label for="Credit_History">How many years of credit history can you provide:</label><br>
            <select name="Credit_History" id="Credit_History">
                <option value="0">0 years</option>
                <option value="1">1 year</option>
            </select><br><br>
        
            <label for="Property_Area">Select property area:</label><br>
            <select name="Property_Area" id="Property_Area">
                <option value="Urban">Urban</option>
                <option value="Semiurban">Semi-Urban</option>
                <option value="Rural">Rural</option>
            </select><br><br>

        <button type="submit" class="btn">Predict</button>

        </form>
                        
</body>
</html>
